<h1 class="text-center mb-3">Información Personal</h1>

<div class="row d-flex justify-content-center">

    <div class="col-md-8 my-4">
        <div class="card">
            <h5 class="card-header">Información Básica</h5>
            <div class="card-body">
                <div class="mb-3 row">
                    <label class="col-5 col-label">Nombre</label>
                    <div class="col-7">
                        {{usuario.nombre}} {{usuario.apellido}}
                    </div>
                </div>
                <hr>
                <div class="mb-3 row">
                    <label class="col-5 col-label">Departamento</label>
                    <div class="col-7">
                        {{usuario.departamento}}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row d-flex justify-content-center">

    <div class="col-md-8 my-4">
        <div class="card">
            <h5 class="card-header">Información de Contacto</h5>
            <div class="card-body">
                <div class="mb-3 row">
                    <label class="col-5 col-label">Correo Electrónico</label>
                    <div class="col-7">
                        {{usuario.email}}
                    </div>
                </div>
                <hr>
                <div class="mb-3 row">
                    <label class="col-5 col-label">Celular</label>
                    <div class="col-7">
                        {{usuario.telefono}}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row d-flex justify-content-center">

    <div class="col-md-8 my-4">
        <div class="card">
            <h5 class="card-header">Premium</h5>
            <div class="card-body">
                <div class="mb-3 row">
                    <label class="col-5 col-label">Días restantes</label>
                    <div class="col-7">
                        {{usuario.diasRestantes}}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row d-flex justify-content-center">
    <div class="text-center">
        <h3>Accede a todas las funciones de la tienda con nuestros planes premium</h3>
    </div>
    <div class="col-md-4 my-4 text-center">
        <div class="card ultimas">
           <h5 class="card-header plan-1">Plan 1</h5>
             <div class="card-body">
                1 mes de premium
                <hr>
                L. 300
                <br>
                <br>
                <button class="btn btn-primary comprar-1" (click)="open(pago); setPlan(1)">Comprar</button>
            </div>
        </div>
    </div>
    <div class="col-md-4 my-4 text-center">
        <div class="card ultimas">
           <h5 class="card-header plan-2">Plan 2</h5>
             <div class="card-body">
                6 meses de premium
                <hr>
                L.500
                <br>
                <br>
                <button class="btn btn-primary comprar-2" (click)="open(pago); setPlan(2)">Comprar</button>
            </div>
        </div>
    </div>
    <div class="col-md-4 my-4 text-center">
        <div class="card ultimas">
           <h5 class="card-header plan-3">Plan 3</h5>
             <div class="card-body">
                12 meses de premium
                <hr>
                L.900
                <br>
                <br>
                <button class="btn btn-primary comprar-3" (click)="open(pago); setPlan(3)">Comprar</button>
            </div>
        </div>
    </div>

</div>


<ng-template #pago let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Datos de la tarjeta</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
    <div class="modal-body">
        <!-- Aquí puedes agregar los campos para el pago con tarjeta -->
        <div class="form-group">
          <label for="card-number">Número de tarjeta</label>
          <input type="text" class="form-control" id="card-number" name="card-number">
        </div>
        <div class="form-group">
          <label for="card-expiry">Fecha de expiración</label>
          <input type="text" class="form-control" id="card-expiry" name="card-expiry">
        </div>
        <div class="form-group">
          <label for="card-cvc">CVC</label>
          <input type="text" class="form-control" id="card-cvc" name="card-cvc">
        </div>
      </div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="comprarPremium(); modal.close('Save click')">pagar</button>
	</div>
</ng-template>




