<h1 class="text-center">Detalles del producto</h1>
<hr>

<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-9">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let img of imagenesProducto">
                    <div class="picsum-img-wrapper">
                        <img [src]="img.Imagen" style='height: 100%; width: 100%; object-fit: contain' alt="...">
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
        <div class="col-md-3">
            <div class="card-body">
                <h5 class="card-title">{{producto.nombre}} <i *ngIf="user" class="favorito fa-solid fa-bookmark float-end"  [ngClass]="{'fav':marcado,'nofav':!marcado}" (click)="favorito()"></i></h5>
                <h5 class="card-title">{{producto.nombre}}</h5>
                <p class="card-text">{{producto.precio | currency:'L ':"symbol"}}</p>
                <p class="card-text"><small class="text-muted">Publicado desde:  {{producto.actualizacion | date:'short'}}</small></p>
                <p class="card-text">{{producto.descripcion}}</p>
                <p class="card-text fw-bold">{{producto.Categoria}}</p>
            </div>
            
            <div class="card-body">
                <hr>
                <p class="card-text">Vendedor:</p>
                <p><a>{{producto.Usuario}}</a></p>
                <hr>
            </div>
            <div class="card-body d-grid d-flex align-items-end flex-column bd-highlight mb-3">
                <p class="card-text">¿Interesado en el producto?</p>
                <button class="btn btn-primary mt-auto p-2 bd-highlight" type="button" (click)="iniciarChat(producto.Usuario,producto.UsuarioId)"> <i class="fa-solid fa-message" ></i> Enviar un mensaje</button>
            </div>
            <div class="card-body d-grid d-flex flex-column bd-highlight mb-3">
                <button class="btn btn-primary mt-auto p-2 bd-highlight" type="button">Comprar</button>
            </div>
        </div>
    </div>
</div>
